

# Elastic Beanstalk Files

.elasticbeanstalk/*

!.elasticbeanstalk/*.cfg.yml

!.elasticbeanstalk/*.global.yml


.ebextensions/django.config
.elasticbeanstalk/config.yml
.elasticbeanstalk/config.yml
*.pyc
.elasticbeanstalk/config.yml
*.zip
*.whl


Products_app/secretkeyfile.py
.ebextensions/django_aws_eb.config
secretkeyfile.py
*.pyc
*.pyc
